.nav .nav-item.dropdown .navbar-dropdown, .navbar-nav .nav-item.dropdown .navbar-dropdown {
    top:43px;
}

.select-btn {
    margin-top: -8px;
}

.income {
    color:green;
}

.expend {
    color:red;
}

.navbar.default-layout .navbar-brand-wrapper .navbar-brand img {
    height: auto !important;
    width: 65px !important;
}

.sidebar .nav .nav-item.nav-profile .nav-link .user-wrapper  {
    margin-bottom: 0px;
}

#navBar {
    position: fixed;
    min-width: 255px;
}

.gj-picker-bootstrap table tr td div , .gj-picker-bootstrap table tr th div {
    font-family: Poppins, sans-serif;
}

.gj-picker-bootstrap table tr td.today div  {
    color: #645fce;
}

.gj-picker-bootstrap table tr th div {
    color: #443873;
}